@using Microsoft.AspNetCore.Identity
@using enBask.Core.Website.Models
@using enBask.Core.Website.Authentication
@using Microsoft.AspNetCore.Http

@inject MyUserManager UserManager
@inject IHttpContextAccessor HttpContextAccessor


@if (UserManager.IsSessionValid(HttpContextAccessor))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">@UserManager.GetSessionUserName(HttpContextAccessor)</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="LogOff">Logout</a></li>
    </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
</ul>
}
